@model  EditCategoryViewModel

@{
    ViewBag.Title = "Edit";

    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;

}

<h2>Edit Category</h2>

<form id="editCategory">

    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="row">

        <div class="col-md-8">

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label>Description</label>

                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label>Image</label>

                <input id="ImageData" name="ImageURL" type="hidden" value="@Model.ImageData" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />

            </div>

            <div class="form-group">
                <label>Is Featured ?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label> <input name="isFeatured" type="radio" value="True" @trueChecked /> True</label>
                    </div>
                    <div class="radio form-control">
                        <label> <input name="isFeatured" type="radio" value="False" @falseChecked /> False</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">


            <div class="thumb">
                @if (Model.ImageData != null) {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)" class="img-thumbnail img-fluid" id="categoryImage" />
                }
                else {
                    <img src="/Content/images/profile.png" class="img-thumbnail img-fluid" id="categoryImage" />
                }
            </div>

        </div>




    </div>

    <button id="updateBtn" type="button" class="btn btn-primary">Update</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>


</form>


<script>

    $('#editCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50,
            },
            Description: {
                maxlength: 500
            },
            Price: {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum Length is 500'
            },
            Price: {
                range: 'Price must be within range of 1 - 100000.'
            }
        }
    });

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Image", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#ImageData").val(response.ImageData);
                    $("#categoryImage").attr("src", "data:image/png;base64," + response.ImageData);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
                alert("Server error occurred. Please try again later.");
            });
    });


    $("#updateBtn").click(function () {
        if ($("#editCategory").valid()) {
            var formData = new FormData($("#editCategory")[0]); // Create a FormData object from the form

            // Fetch the image file from the input field
            var imageFile = $("#imageUpload")[0].files[0];
            formData.set("Image", imageFile); // Set the "Image" field in the FormData object to the image file

            $.ajax({
                type: 'POST',
                url: '/Category/Edit',
                data: formData,
                contentType: false,
                processData: false,
            })
                .done(function (response) {
                    $("#tableContiner").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }
        else {
            swal({
                title: "Warning",
                text: "Please enter all valid data in fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });

        $("#cancelBtn").click(function () {
            $("#actionContainer").html("");

            focusAction("tableContiner");
        });

</script>