<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PehliDukaanConnection" connectionString="Data Source=(LocalDb)\BASIT-PC\SQLEXPRESS;Initial Catalog=PehliDukaan-Database;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>