@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/profile.png";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories) {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageData" name="ImageData" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>
</form>


<script>
    $('#createProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50,
            },
            Description: {
                maxlength: 500
            },
            Price: {
                required: true,
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum Length is 5',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum Length is 500'
            },
            Price: {
                required: 'Price is required',
                range: 'Price must be within range of 1 - 100000.'
            }
        }
    });

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Image", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#ImageData").val(response.ImageData);
                    $("#productImage").attr("src", "data:image/png;base64," + response.ImageData);
                    console.log(response.ImageData)
                }
            })
            .fail(function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
                alert("Server error occurred. Please try again later.");
            });
    });


    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {
            var formData = new FormData($("#createProduct")[0]);
            $.ajax({
                type: 'POST',
                url: '/Product/Create',
                data: formData,
                contentType: false,
                processData: false
            })
                .done(function (response) {

                    $("#tableContiner").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Error",
                        text: "Server error occurred. Please try again later.",
                        icon: "error",
                        buttons: true,
                        dangerMode: true,
                    });
                });
        } else {
            swal({
                title: "Warning",
                text: "Please enter all valid data in fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        focusAction("tableContiner");
    });

</script>